openapi: 3.0.3
info:
  description: This API receives hair data from hair salons around the world
  version: "1.0.0"
  title: Hair Salon API
  contact:
    email: hlam101@my.bcit.ca
paths:
  /hair/volume:
    get:
      summary: gets a hair volume reading from history
      operationId: app.get_hair_volume_reading
      description: Gets hair volume readings from the event store
      parameters:
        - name: index
          in: query
          description: Gets the hair volume reading at the index in the event store
          schema:
            type: integer
            example: 100
      responses:
        '200':
          description: Successfully returned a hair volume reading
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/HairVolumeReading'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string

  /hair/type:
    get:
      summary: gets a hair type reading from history
      operationId: app.get_hair_type_reading
      description: Gets hair type readings from the event store
      parameters:
        - name: index
          in: query
          description: Gets the hair type reading at the index in the event store
          schema:
            type: integer
            example: 100
      responses:
        '200':
          description: Successfully returned a hair type reading
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/HairTypeReading'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
       
  /stats:
    get:
      summary: Gets the reading stats
      operationId: app.get_reading_stats
      description: Gets the stats of the hair Volume and Type events
      responses:
        '200':
          description: Successfully returned the statistics
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Stats'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /health:
    get:
      summary: Check status of this service
      operationId: app.get_health
      description: Return status code 200 if this endpoint is triggered
      responses:
        '200':
          description: Service is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string


components:
  schemas:
    HairVolumeReading:
      required:
        - salon_id
        - salon_name
        - hair_volume
        - disposal_method
        - batch_timestamp
        - reading_timestamp
        - trace_id
      properties:
        salon_id:
          type: string
          format: uuid
          example: "a938-h38hs-29nlaq1-r48n17nd-3810"
        salon_name:
          type: string
          example: "Studio D Hair Salon and Barbershop"
        hair_volume:
          type: number
          description: Volume of hair cut (in grams)
          example: 10.56
        disposal_method:
          type: string
          description: How the hair was disposed of. Repurposing hair is considered "recycling". Disposal method of "compost" also includes the breaking down of hair at a facility to turn into fertilizer
          enum:
            - "garbage"
            - "recycling"
            - "compost"
            - "other"
        batch_timestamp:
          type: string
          example: "2025-09-04 21:12:33"
        reading_timestamp:
          type: string
          example: "2025-08-29 09:12:33"
        trace_id:
          type: string
          format: uuid
      type: object

    HairTypeReading:
      required:
        - salon_id
        - salon_name
        - hair_colour
        - hair_texture
        - hair_thickness
        - batch_timestamp
        - reading_timestamp
        - trace_id
      properties:
        salon_id:
          type: string
          format: uuid
          example: "a938-h38hs-29nlaq1-r48n17nd-3810"
        salon_name:
          type: string
          example: "Studio D Hair Salon and Barbershop"
        hair_colour:
          type: string
          example: "blonde"
        hair_texture:
          type: string
          description: hair texture/curliness based on this chart - https://www.onychair.com/wp-content/uploads/Different-Types-of-Hair-Type-Natural-Hair-Texture-Chart-Curl-Pattern-ONYC-Hair.webp
          example: "1c"
        hair_thickness:
          type: number
          example: 20
          description: hair thickness in micrometers - generally between 17-250
        batch_timestamp:
          type: string
          example: "2025-09-04 21:12:33"
        reading_timestamp:
          type: string
          example: "2025-08-29 09:12:33"
        trace_id:
          type: string
          format: uuid
      type: object

    Stats:
      required:
        - num_volume_readings
        - num_type_readings
      properties:
        num_volume_readings:
          type: integer
          example: 100
        num_type_readings:
          type: integer
          example: 100
      type: object